---
import { getCollection, render } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import PostHeader from '../components/PostHeader.astro';
import SiteContent from '../components/SiteContent.astro';
import PostArticle from '../components/PostArticle.astro';
import PostContent from '../components/PostContent.astro';
import PostNextPrev from '../components/PostNextPrev.astro';
import PostDirectory from '../components/PostDirectory.astro';
import PostFooter from '../components/PostFooter.astro';
import AuthorProfile from '../components/AuthorProfile.astro';
import { sortPosts } from '../scripts/util';

const { post } = Astro.props;
const { Content, headings } = await render(post);
const hasImage = !!post.data.heroImage;

const allPosts = await getCollection("blogs");
const sortedPosts = sortPosts(allPosts);
let curPost = null;
let prevPost = null;
let nextPost = null;
for (let i = 0; i < sortedPosts.length; i++) {
  curPost = sortedPosts[i];
  if (curPost.id == post.id) {
    if (i > 0) {
      prevPost = sortedPosts[i - 1];
    }
    if (i < sortedPosts.length - 1) {
      nextPost = sortedPosts[i + 1];
    }
  }
}
---

<BaseLayout title={post.data.title}>
  <PostHeader frontmatter={post.data} />
  <SiteContent>
    <PostArticle>
      {!hasImage &&
        <span hidden data-pagefind-meta="image:"></span>
        <span hidden data-pagefind-meta="image_alt:"></span>
      }
      <span hidden data-pagefind-meta="description">{post.data.description}</span>
      <span hidden data-pagefind-meta="author">{post.data.author}</span>
      <span hidden data-pagefind-meta="category">{post.data.category}</span>
      <span hidden data-pagefind-meta="tags">{post.data.tags.join()}</span>
      <span hidden data-pagefind-meta="pubDate">{post.data.pubDate}</span>
      <span hidden data-pagefind-meta="updateDate">{post.data.updateDate}</span>
      <PostContent>
        <Content />
      </PostContent>
      <PostFooter url={`/posts/${post.id}`} frontmatter={post.data} />  
      <AuthorProfile frontmatter={post.data} />  
    </PostArticle>
    {(prevPost || nextPost) &&
      <PostNextPrev previous={prevPost} next={nextPost} />
    }
    <PostDirectory headings={headings} />
  </SiteContent>
</BaseLayout>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/default.min.css">
<script>
  import hljs from 'https://cdn.jsdelivr.net/npm/highlight.js@11.9.0/+esm';
  import QRCode from 'https://cdn.jsdelivr.net/npm/qrcode@1.5.3/+esm';

  document.addEventListener('astro:page-load', async () => {
    console.log('highlightjs run');
    document.querySelectorAll("pre").forEach(preElement => {
      if (!preElement.classList.contains("highlight-wrap")) {
        const codeElement = preElement.querySelector("code");
        if (codeElement) {
          hljs.highlightElement(codeElement);

          preElement.classList.add("highlight-wrap");
          let languages = codeElement.className.split(' ')
            .filter(s => s.indexOf("language-") == 0)
            .map(s => s.replace("language-", ""))
            .map(s => s.toUpperCase());
          let language = languages.length > 0 ? languages[0] : "";
          codeElement.setAttribute("data-rel", language);
        }
      }
    });

    const shareWechatElement = document.getElementById("qrcode");
    if (shareWechatElement) {
      QRCode.toCanvas(shareWechatElement, shareWechatElement.getAttribute("data-url"), {
        width: 120,
        color: {
          dark: "#000000",
          light: "#ffffff",
        },
      });
    }
  });
</script>


